<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/logo02.png">
  <title>Тренажер ЕГЭ по английскому</title>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="utilites.js"></script>
  <script src="speaker.js"></script>
  <script src="jszip/jszip.min.js"></script>
  <script src="task_data.js"></script>


  <link rel="stylesheet" href="style.css">

  <link href="css/fontawesome.css" rel="stylesheet">
  <link href="css/brands.css" rel="stylesheet">
  <link href="css/solid.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>

<body>
  <div id='app' class="container-fluid">
    <header>
      <div class="row justify-content-center">
        <div class="col-md-2">
          <img src="images/logo02.png" alt="Logo" onclick="logoClick()">
        </div>
        <div class="col-md-7" style="text-align: center;">
          <span style="visibility:collapse;">{{levelTxt}}</span>
          <span class="red">{{mic_message}}</span>
        </div>

        <div class="col-md-3">

          <table v-show='isShowPrepare'>
            <tr>
              <td rowspan="2">
                <i class='fa-solid fa-clock'></i>
              </td>
            </tr>
            <tr>
              <td style='text-align: right'>{{preparationTimeText}}</td>
            </tr>
            <tr>
              <td></td>
              <td style='text-align: right'>{{answerTimeText}}</td>
            </tr>
          </table>

        </div>
      </div>
    </header>

    <div v-if="isShowSelect" class="row text-center">
      <ul class="two-column-list no-bullets">
        <li><button class="btn btn-primary" onclick="variant(1)">Вариант 1</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(2)">Вариант 2</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(3)">Вариант 3</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(4)">Вариант 4</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(5)">Вариант 5</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(6)">Вариант 6</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(7)">Вариант 7</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(8)">Вариант 8</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(9)">Вариант 9</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(10)">Вариант 10</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(11)">Вариант 11</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(12)">Вариант 12</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(13)">Вариант 13</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(14)">Вариант 14</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(15)">Вариант 15</button></li>
        <li></li>
        <li><button class="btn btn-primary" onclick="variant(16)">Вариант 16</button></li>


      </ul>
    </div>
    <!--Main-->
    <div v-if="isShowMain">
      <div v-if='isShowMain' class="row">
        <h4 v-if='isShowHeader1' class='col col-md-12 my_header' v-html='head1'></h4>
        <h4 v-if='isShowHeader2' class='col-12 my_header text-center' v-html='head2'></h4>
      </div>
      <hr>
      <div class="row d-flex justify-content-center flex-wrap">
        <h4 v-if='isShowHeader3' class='my_header' v-html='head3'></h4>
        <div v-if="isShowMain" class="col-md main">
          <div v-html='main_text'>
          </div>
          <div v-html='text2' class="col-md font-weight-bold">
          </div>
        </div>
        <div v-if='isShowImage1' class="row text-center">
          <figure class="figure">
            <figcaption v-if="isShowCaption" class="figure-caption" style="font-weight: bold;">Photo 1</figcaption>
            <img v-bind:src="image1" class="my_image">
          </figure>
        </div>
        <!--
        <div v-if='isShowImage2' class="col-md-6 text-center">
          <figure class="figure">
            <figcaption v-if="isShowCaption" class="figure-caption" style="font-weight: bold;">Photo 2</figcaption>
            <img v-bind:src="image2" class="my_image">
          </figure>
        </div>
      -->
      </div>
    </div>
    <!--Main-->
    <!--Main 2 - для задания с двумя картинками -->

    <div v-if="isShowMain2">
      <div v-if='isShowMain2' class="row">
        <h4 v-if='isShowHeader1' class='col col-md-12 my_header' v-html='head1'></h4>
        <h4 v-if='isShowHeader2' class='col-md-12 my_header text-center' v-html='head2'></h4>
      </div>
      <hr>
      <div v-if="isShowMain2" class="row main">
        <div v-html='main_text'>
        </div>
        <div v-html='text2' class="col-md-12 font-weight-bold">
        </div>
      </div>

      <div class="row d-flex justify-content-center flex-wrap">
        <h4 v-if='isShowHeader3' class='my_header' v-html='head3'></h4>
        <div v-if='isShowImage1' class="col-md-6 text-center">
          <!--
          <figure class="figure">
            <figcaption v-if="isShowCaption" class="figure-caption" style="font-weight: bold; font-size: large;">Photo 1
            </figcaption>-->
            <img v-bind:src="image1" class="my_image">
          </figure>
        </div>
        <div v-if='isShowImage2' class="col-md-6 text-center">
          <!--
          <figure class="figure">
            <figcaption v-if="isShowCaption" class="figure-caption" style="font-weight: bold; font-size: large;">Photo 2
            </figcaption>-->
            <img v-bind:src="image2" class="my_image">
          </figure>
        </div>
      </div>

    </div>
    <!---->
    <div v-show="isShowAudioContainer" class="row">
      <!--AudioContainer-->
      <div id='audioContainer' style="margin-left: 20px;">

      </div>
      <div v-if='isShowResult' style='height: 40px;' class='col-6 float-right'>
        <button class="btn btn-primary" id="downloadRecording" @click='downloadRecording()'>Скачать все
          аудизаписи</button>

        <!--AudioContainer-->
        <details style="margin-left: 100px;">
          <summary>Просмотреть задания</summary>
          <embed v-bind:src="task_filename" width="800" height="600" type="application/pdf">
        </details>
      </div>


    </div>
    <!--RECORDER-->
    <div class="row">
      <div v-show='isShowRecorder' class="col-11 fixed-bottom recorder">
        <div>
          <div class="btn">
            <i :class='currentIcon' @click='toggleIcon'></i>
          </div>
        </div>
        <div id="progress-bar" style="border:0px solid black;">
          <div id="progress-bar-fill" :style="'width: ' + progressValue + '%'"></div>
        </div>
        <div class='format-time'>
          {{formatTime}}
        </div>
        <div>
          <button id="btnRecNav" class='btn btn-primary my_btn right' @click='Level()'>{{rec_nav_text}}</button>
        </div>
        <audio controls id="audioPlayer" style="display:none;"></audio>

      </div>
      <!--END RECORDER-->
      <div v-show='isShowNav01' class="col-12">
        <div class='col-8'>
          <button class="btn btn-primary text-center btn_correct" @click="Level()"
            id='get-mic'>{{primary_button}}</button>
        </div>
      </div>
    </div>

    <!--TIMER-->
    <div class='row'>
      <div v-if="isShowCountdown" class="col-12 timer_caption text-center">

        <div>{{countDownText}}</div>
        <div class='timer_caption'>{{ countDown }}</div>
        <div>seconds</div>
      </div><!--TIMER-->
    </div>



  </div> <!--app-->
  <script type='application/javascript' src="script.js">
  </script>
  <script type='application/javascript' src='microphone.js'></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>