<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренажер ЕГЭ по английскому</title>    
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>            
    <script src="utilites.js"></script>
    <script src=speaker.js></script>

    
    <link rel="stylesheet" href="style.css">  
    
    <link href="css/fontawesome.css" rel="stylesheet">
    <link href="css/brands.css" rel="stylesheet">
    <link href="css/solid.css" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
</head>
<body>
  <div  id='app' class="container">
    <div class="row">
      <header class="d-flex justify-content-between align-items-center">
        <img class="mr-3" src="logo.png" alt="Logo">
          <span>{{level}}</span>
          <div style="text-align: right;">
          </div>
          <div v-if='isShowPrepare'>
          <div class="ml-auto">
                    <i class='fa-solid fa-clock'></i>
          </div>

          <div class="ml-auto">                     
            <span>Preparation 01:30</span><br>
            <span>Answer 01:30</span>
          </div>
          </div>
      </header>        
    </div>
    <h2 class='row' v-html='head'></h2>

      <!--Main-->
    <div v-if='isShowMain' class="main">
        <div class="row">
      <div v-html='main_text' class="col-12">
          <span ></span>
      </div>
      <!--AudioContainer-->
<div v-show="isShowAudioContainer" id='audioContainer'>
    
      </div>            
            </div>
        <div v-if='isShowImage' class="row">
            <div class="col">
          <img v-bind:src="'images/' + image" class="my_image">
                </div>
        </div>
    </div><!--Main-->
      <div v-if='isShowResult' style='height: 40px;' class='row'>
          <div class="col">
            <button class="btn btn-primary" @click='downloadRecording()'>Download recording</button>
          </div>
      </div>
      <!--TIMER-->
      <div v-if="isShowCountdown" class="row timer_caption text-center">
        <div class='col'>
    <div>Be ready for test</div>
    <div class='timer_caption'>{{ countDown }}</div>
    <div>seconds</div></div>
      </div><!--TIMER-->     
    <div v-show='isShowNav01' class="row">
      <div class='col-12'>
        <button  class="btn btn-primary text-center" @click="Level()" id='get-mic'>Понятно</button>
      </div>
    </div>



    <!--RECORDER-->
    <div v-show='isShowNav02' class="recorder" >
        <div>
        <div class="btn">
            <i :class='currentIcon'  @click='toggleIcon'></i>
        </div>
        </div>
    <div id="progress-bar" style="border:0px solid black;">
        <div id="progress-bar-fill" :style="'width: ' + progressValue + '%'"></div>        
    </div>
    <div class='format-time'>
        {{formatTime}}
        </div>
    <div>
    <button class='btn btn-primary my_btn right' @click='Level()'>{{rec_nav_text}}</button>  
        </div>
        <audio controls id="audioPlayer" style="display:none;"></audio>
                           
    </div>
      <!--END RECORDER-->
    </div>  <!--app-->    
    <script type='application/javascript' src="script.js">
    </script>
    <script type='application/javascript' src='microphone.js'></script>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>