.main
{
    height: 600px;
    text-align: justify;
}

    #progress-bar {
    
      display: flex;
      flex-basis: auto;
      flex-grow: 1;
        flex-shrink: 1;
        
      height: 15px;      
      #background-color:;      
      #display: flex;  
      #align-items: center;
        
    }
    
    #progress-bar-fill 
{          
      height: 20px;
      background-color: #ffffff;
      #transition: width 1s linear;
      width: 0%;        
      position: relative;
      #top:15px;
      margin: 10px;
        
    }

  .icon-size
{
    font-size: 32px;
}

.main
{
    min-width: 500px;
    width: 500px;
}

.col-my {
    #height: 100px;
    width: 45px;
    min-width: 45px;
    -o-box-align: center;
    align-items: center;
    -o-box-pack: center;
    justify-content: center;
}

.red
{
    color:red;
}

.my_btn
{
    height: 45px;
    #white-space: wrap;
    width: 200px;
    margin: 3px;
    
    
}

.right
{
    align-content: flex-end;
    align-items: flex-end;
    #padding: -10px;
    #margin: -1px;
    height: 38px;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
}

.left
{
    align-content: flex-start;
}

.format-time
{
  
    display: inline-block;
  font-size: 25px;
  #justify-content: flex-end;
    #align-content: flex-end;
    text-align: right;
    
}

.col_my
{
    display: flex;
    height: 45px;
}
.recorder
{
    #position: fixed;
    box-sizing:content-box;
    left: 0px;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-width: 500px;
    height: 45px;
    background-color:cornflowerblue;    
    border: 1px solid black;
    color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    #align-content: flex-end;
    #align-items: center;
}

.timer_caption
{
    font-size: 50px;
}

.timer
{
    font-size: 40px;
    display: block;
    height: 100%;
    #width: 400px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}
.my_image
{
    display: block;
    width: 40%;
}