      <style>
    #progress-bar {
    
        
      #height: 30px;      
      background-color:#eeeeee;
        
    }
    
    #progress-bar-fill {
      height: 90%;        
      background-color: #eeeeee;
      #transition: width 1s linear;
        width: 0%;
        
    }

  .icon-size
{
    font-size: 32px;
}

.main
{
    min-width: 500px;
    width: 500px;
}

.col-my {
    #height: 100px;
    width: 45px;
    min-width: 45px;
    -o-box-align: center;
    align-items: center;
    -o-box-pack: center;
    justify-content: center;
}

.red
{
    color:red;
}

.my_btn
{
    height: 45px;
    white-space: nowrap;
    width: 180px;
}
.recorder
{
    min-width: 800px;
    height: 50px;
    
    justify-content: center;
    border: 1px solid black
}

.timer_caption
{
    font-size: 50px;
}

.timer
{
    font-size: 40px;
    display: block;
    height: 100%;
    #width: 400px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}
.my_image
{
    display: block;
    width: 40%;
}