html,
body {
    height: 100%;
}

.btn_correct {
    position: absolute;
    bottom: 10px;
}

#app {
    /*max-width: 800px;*/
    height: 800px;
    max-height: 800px;
    min-width: 500px;

}

.my_logo {
    float: none;
}

.my_header {
    #display: inline-block;
    text-align: justify;
}

.main {
    font-size: 20px;
    #height: 800px;
    #min-height: 500px;
    text-align: justify;
    #border: 1px solid #000;
    #min-width: 500px;
    #width: 776px;
}



#progress-bar {
    width: 100%;
    display: inline;
    #flex-basis: auto;
    #flex-grow: 1;
    #flex-shrink: 0;
    #border: 1px solid #0F0;
    height: 45px;
    #background-color: ;
    #display: flex;
    #align-items: center;
}

#progress-bar-fill {
    #border: 1px solid #FF0000;
    height: 20px;
    background-color: #ffffff;
    #transition: width 1s linear;
    width: 0%;
    position: relative;
    #top: 15px;
    margin-top: 10px;

}

.icon-size {
    font-size: 32px;
}


.col-my {
    #border: 1px solid #000;
    #height: 100px;
    width: 45px;
    min-width: 45px;
    -o-box-align: center;
    align-items: center;
    -o-box-pack: center;
    justify-content: center;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.my_btn {
    #border: 1px solid #000;
    height: 45px;
    #white-space: wrap;
    width: 200px;
    margin: 3px;


}

.right {
    #border: 1px solid #000;
    align-content: flex-end;
    align-items: flex-end;
    #padding: -10px;
    #margin: -1px;
    height: 38px;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
}

.left {
    align-content: flex-start;
}

.format-time {
    #border: 1px solid #000;
    display: inline-block;
    font-size: 25px;
    #justify-content: flex-end;
    #align-content: flex-end;
    text-align: right;

}

.col_my {
    display: flex;
    height: 45px;
}

.recorder {
    position: absolute;
    box-sizing: content-box;
    left: 10px;
    bottom: 10px;
    #width: 70%;
    margin: 10px;
    padding: 0px;
    min-width: 500px;
    max-width: 95%;
    height: 45px;
    background-color: cornflowerblue;
    border: 1px solid black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    #align-content: flex-end;
    #align-items: center;
}

.timer_caption {
    font-size: 50px;
}

.timer {
    font-size: 40px;
    display: block;
    height: 100%;
    #width: 400px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}

.my_image {
    #display: block;
    width: 360px;
}